body {
    margin: 0;
  }
  * {
    box-sizing: border-box;
  }
  .hero {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  .image-1,
  .image-2,
  .image-3,
  .image-4 {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
  
    &.one {
      .sect {
        background-image: url("https://images.unsplash.com/photo-1469532844423-7e9107f9a96f?q=80");
      }
      z-index: 4;
    }
  
    &.two {
      .sect {
        background-image: url("https://images.unsplash.com/photo-1512425406684-952ff74cb8d1?q=80");
      }
      z-index: 3;
    }
  
    &.three {
      .sect {
        background-image: url("https://images.unsplash.com/photo-1542228262-3d663b306a53?q=80");
      }
      z-index: 2;
    }
  
    &.four {
      .sect {
        background-image: url("https://images.unsplash.com/photo-1469532844423-7e9107f9a96f?q=80");
      }
      z-index: 1;
    }
  
    // section
    .sect {
      height: 100%;
      width: 12.5%;
      background-size: cover;
      background-attachment: fixed;
      overflow: hidden;
  
      &:not(:last-child) {
        border-right: 0.5px solid rgba(255, 255, 255, 0.3);
      }
    }
  }
  