body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.image-1,
.image-2,
.image-3,
.image-4 {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-1.one,
.image-2.one,
.image-3.one,
.image-4.one {
  z-index: 4;
}

.image-1.one .sect,
.image-2.one .sect,
.image-3.one .sect,
.image-4.one .sect {
  background-image: url("https://images.unsplash.com/photo-1469532844423-7e9107f9a96f?q=80");
}

.image-1.two,
.image-2.two,
.image-3.two,
.image-4.two {
  z-index: 3;
}

.image-1.two .sect,
.image-2.two .sect,
.image-3.two .sect,
.image-4.two .sect {
  background-image: url("https://images.unsplash.com/photo-1512425406684-952ff74cb8d1?q=80");
}

.image-1.three,
.image-2.three,
.image-3.three,
.image-4.three {
  z-index: 2;
}

.image-1.three .sect,
.image-2.three .sect,
.image-3.three .sect,
.image-4.three .sect {
  background-image: url("https://images.unsplash.com/photo-1542228262-3d663b306a53?q=80");
}

.image-1.four,
.image-2.four,
.image-3.four,
.image-4.four {
  z-index: 1;
}

.image-1.four .sect,
.image-2.four .sect,
.image-3.four .sect,
.image-4.four .sect {
  background-image: url("https://images.unsplash.com/photo-1469532844423-7e9107f9a96f?q=80");
}

.image-1 .sect,
.image-2 .sect,
.image-3 .sect,
.image-4 .sect {
  height: 100%;
  width: 12.5%;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.image-1 .sect:not(:last-child),
.image-2 .sect:not(:last-child),
.image-3 .sect:not(:last-child),
.image-4 .sect:not(:last-child) {
  border-right: 0.5px solid rgba(255, 255, 255, 0.3);
}
/*# sourceMappingURL=style.css.map */